.field {clear:both; text-align:right; line-height:25px;}
label {float:left;padding-right:10px;}
.main {float:left}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}


/* .submit_button {margin-left: 30%;} */
